<?xml version="1.0"?>
<configuration>
<!--  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>-->
  <appSettings>
   <!-- encoding of source PO file -->
    <add key="PO_FILE_ENCODING" value="65001"></add>
    <!-- encoding of PAS files -->
    <add key="PAS_FILES_ENCODING" value="1252"></add>
    <!-- encoding of DFM files-->
    <add key="DFM_FILES_ENCODING" value="1252"></add>
    <!--
        Entries in PO file and source files can be different during encoding problem.
        if BRUTOREPLACER turned on, then entry at specified text line is replaced always independent if actual value is equal to value from PO or isn't equal
        Program outputs warning about this replace with detailed info.    
    -->
    <add key="USE_BRUTOREPLACER" value="0" ></add>
  </appSettings>
</configuration>
